
*.DS_Store
.vscode/

build/
build-debug/
build-asan/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
build.ninja

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
oldcode/dacs/ByteBuffer.cpp
oldcode/dacs/ByteBuffer.h
oldcode/dacs/ByteStreamUtils.h
oldcode/dacs/ofxLaserDacAliasManager.cpp
oldcode/dacs/ofxLaserDacAliasManager.h
oldcode/dacs/ofxLaserDacAssigner.cpp
oldcode/dacs/ofxLaserDacAssigner.h
oldcode/dacs/ofxLaserDacBase.cpp
oldcode/dacs/ofxLaserDacBase.h
oldcode/dacs/ofxLaserDacData.h
oldcode/dacs/ofxLaserDacEmpty.h
oldcode/dacs/ofxLaserDacFrame.cpp
oldcode/dacs/ofxLaserDacFrame.h
oldcode/dacs/ofxLaserDacFrameInfoRecorder.cpp
oldcode/dacs/ofxLaserDacFrameInfoRecorder.h
oldcode/dacs/ofxLaserDacManagerBase.h
oldcode/dacs/ofxLaserDacNetworkBaseThreaded.cpp
oldcode/dacs/ofxLaserDacNetworkBaseThreaded.h
oldcode/dacs/ofxLaserDacStateRecorder.cpp
oldcode/dacs/ofxLaserDacStateRecorder.h
oldcode/dacs/ofxLaserPointFactory.cpp
oldcode/dacs/ofxLaserPointFactory.h
oldcode/dacs/AVBSound/DacAVBSound.cpp
oldcode/dacs/AVBSound/DacAVBSound.h
oldcode/dacs/AVBSound/DacAVBSoundInterface.cpp
oldcode/dacs/AVBSound/DacAVBSoundInterface.h
oldcode/dacs/AVBSound/DacAVBSoundManager.cpp
oldcode/dacs/AVBSound/DacAVBSoundManager.h
oldcode/dacs/EtherDream/ofxLaserDacEtherDream.cpp
oldcode/dacs/EtherDream/ofxLaserDacEtherDream.h
oldcode/dacs/EtherDream/ofxLaserDacEtherDreamCommand.cpp
oldcode/dacs/EtherDream/ofxLaserDacEtherDreamCommand.h
oldcode/dacs/EtherDream/ofxLaserDacEtherDreamDacPoint.cpp
oldcode/dacs/EtherDream/ofxLaserDacEtherDreamDacPoint.h
oldcode/dacs/EtherDream/ofxLaserDacEtherDreamData.h
oldcode/dacs/EtherDream/ofxLaserDacEtherDreamResponse.cpp
oldcode/dacs/EtherDream/ofxLaserDacEtherDreamResponse.h
oldcode/dacs/EtherDream/ofxLaserDacManagerEtherDream.cpp
oldcode/dacs/EtherDream/ofxLaserDacManagerEtherDream.h
oldcode/dacs/Helios/ofxLaserDacHelios.cpp
oldcode/dacs/Helios/ofxLaserDacHelios.h
oldcode/dacs/Helios/ofxLaserDacManagerHelios.cpp
oldcode/dacs/Helios/ofxLaserDacManagerHelios.h
oldcode/dacs/Helios/UsbDeviceHandleHelios.h
oldcode/dacs/IDN/ofxLaserDacIDN.cpp
oldcode/dacs/IDN/ofxLaserDacIDN.h
oldcode/dacs/LaserDock/LaserdockDevice.cpp
oldcode/dacs/LaserDock/LaserdockDevice.h
oldcode/dacs/LaserDock/ofxLaserDacLaserDock.cpp
oldcode/dacs/LaserDock/ofxLaserDacLaserDock.h
oldcode/dacs/LaserDock/ofxLaserDacManagerLaserDock.cpp
oldcode/dacs/LaserDock/ofxLaserDacManagerLaserDock.h
oldcode/dacs/LaserDock/UsbDeviceHandleLaserDock.h
oldcode/dacs/LaserDockNetwork/ofxLaserDacLaserDockNet.cpp
oldcode/dacs/LaserDockNetwork/ofxLaserDacLaserDockNet.h
oldcode/dacs/LaserDockNetwork/ofxLaserDacLaserDockNetCommand.cpp
oldcode/dacs/LaserDockNetwork/ofxLaserDacLaserDockNetCommand.h
oldcode/dacs/LaserDockNetwork/ofxLaserDacLaserDockNetConsts.h
oldcode/dacs/LaserDockNetwork/ofxLaserDacLaserDockNetDacPoint.cpp
oldcode/dacs/LaserDockNetwork/ofxLaserDacLaserDockNetDacPoint.h
oldcode/dacs/LaserDockNetwork/ofxLaserDacLaserDockNetResponse.cpp
oldcode/dacs/LaserDockNetwork/ofxLaserDacLaserDockNetResponse.h
oldcode/dacs/LaserDockNetwork/ofxLaserDacManagerLaserDockNet.cpp
oldcode/dacs/LaserDockNetwork/ofxLaserDacManagerLaserDockNet.h
build-asan/smoke_controller
build-asan/test_etherdream_reconnect
build-asan/test_etherdream_status
build-asan/libera-main
helios_example
